<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/../static/css.css">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/footers/">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<style>
img{
height:560 px;
}
.page{
margin-left:45%;
}
.d{
height:860;
}
</style>
</head>
<body class="container-fluid">
<header th:insert="blocks/header :: header"></header>
 
  <div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  
        <div class="col"  th:each="book : ${books}">
          <div class="card shadow-sm ">
			<img alt="" th:src="${book.url_image}" height="560">
            <div class="card-body">
              <h3 class="card-text" th:text="${book.name}"></h3>
              <p class="card-text" th:text="'Price: '+${book.price}+'  $'"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a th:href="'/home/oneBook/'+${book.id}" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
                <small class="text-muted" th:text="'Залишилось: '+${book.quantyti}"></small>
              </div>
            </div>
          </div>
        </div>
        
        
        </div>
      </div>   
      <nav aria-label="Page navigation example">
      <ul class="pagination page" >
      <li class="page-item" th:each= "page : ${#numbers.sequence(0, books_p.totalPages - 1)}"> <a class="page-link" th:href="@{|/home?page=${page}&size=6|}" th:text="${page + 1}"></a></li>
      </ul>
      </nav>
 <div th:insert="blocks/footer :: footer"></div>
</body>
</html>